<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="form-group">
        <input
        [(ngModel)]="searchText"
         type="text" class="form-control" placeholder="searchtext">
      </div>
      <p
      appHighlighttext
      highlightColor="green"
      [highlighttext]="searchText">

        Without renderer Angular 14 standalone components reduces the need for ngmodules during creating Angular apps. In the developer preview of Angular version 14, standalone components are available. These independent parts are all prepared for usage in creating Angular applications.
        Without renderer Angular 14 standalone components reduces the need for ngmodules during creating Angular apps. In the developer preview of Angular version 14, standalone components are available. These independent parts are all prepared for usage in creating Angular applications.
        Without renderer Angular 14 standalone components reduces the need for ngmodules during creating Angular apps. In the developer preview of Angular version 14, standalone components are available. These independent parts are all prepared for usage in creating Angular applications.
      </p>
